{% set classes = [
  'blog-item blog-detail'
] %}
<div{{ attributes.addClass(classes) }}>
  {{ title_suffix.contextual_links }}
  {% if top %}
    <div {{ top_attributes.addClass('dexp-top') }} >{{ top }}</div>
  {% endif %}
  {% if dexp_content %}
    <div  {{ dexp_content_attributes.addClass('dexp-content') }} >{{ dexp_content }}</div>
  {% endif %}
  {% if bottom %}
    <div {{ bottom_attributes.addClass('dexp-bottom') }} >
      {{ bottom }}
    </div>
  {% endif %}
</div>
