{#
/**
 * @file
 *
 * Default product template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product_entity: The product entity.
 * - product_url: The product URL.
 * {{- product|without('variation_attributes')|without('variation_sku')|without('title') -}}
 * title variations variation_title variation_attributes variation_field_product_image variation_price variation_sku
 * @ingroup themeable
 */
#}
<article{{ attributes.addClass('product-item') }}>
    <div class="entry">
		<div class="product-image pull-left">
        {{  product.variation_field_product_image }}
		</div>
        <div class="product-title pull-right">
			<a href="{{ product_url }}">{{ product.title }}</a>			
			<div class="prod-price">{{ product.variation_price }}</div> 			
        </div>    
    </div>    
</article>
