<div{{ attributes }}>
<h1>{{ status_code }}!</h1>
<h2>{{ message }}</h2>
<a class="dexp-button btn btn-default btn-lg icon-left btn-center" style="" target="" href="{{ home_url }}">{{ 'BACK TO HOME'|t }}</a>
</div>